.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    color: #00AAFF;

}
.alphabet-grid button {
    background-color: aqua;
    min-height: auto;
    position: relative;
}

.alphabet-grid{
    justify-content: center;
    align-items: center;
    min-height: 200px;
    
}
.head{
    text-align: center;
    text-decoration-color: #00FF6C;
    position: relative;
    margin: auto;
}



.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.tile {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #00AAFF;
    text-transform: uppercase;
    user-select: none;
}



body {
    
    padding: 0;
    margin: 0%;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    
}
.guessArea{
    position: relative;
    width: 350px;
    height: 420px;
    background-color:#00AAFF;
    border: 0.5em,  #202121;
    border-spacing:5px;
    margin: auto;
}
.guess{
    width: 20px;
    height: 20px;
    display:table-row;
    align-content: center;
    align-items: center;
}
.row{
    display: grid;
    grid-template-columns: repeat(5, 1 fr);
    grid-gap: 5px
}
   


/*eighty-eight, twenty-four, sixty-nine*/
/*0,0,0*/
/*199, 0, 57*/
