.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    text-align: center;
    position: relative;
    font-style: normal;
    font-size: large;
    font-weight: 400;

}
.alphabet-grid button {
    background-color: aqua;
    min-height: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.alphabet-grid{
    justify-content: center;
    align-items: center;
    min-height: 200px;
    text-align: center;
    position: relative;
    
}
.head{
    text-align: center;
    text-decoration-color: #00FF6C;
    position: relative;
    margin: auto;
}
#board{
    min-height: 200px;
    display: inline-block;
}
#board-container{
    min-height: 200px;
    text-align: center;
}

.tile {
    width: 20px;
    height: 20px;
    display:inline-block;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: black;
    text-transform: uppercase;
    user-select: none;
}



body {
    margin: auto;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    
}
   


/*eighty-eight, twenty-four, sixty-nine*/
/*0,0,0*/
/*199, 0, 57*/
