*, *::before, *::after{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.alphabet-grid button {
    background-color: aqua;
    min-height: auto;
    position: relative;
}

.alphabet-grid{
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    
}
.head{
    text-align: center;
    text-decoration-color: #00FF6C;
    position: relative;
    margin: auto;
}



.board{
    width: 350px;
    height: 420px;
    grid-template-columns: 5;
    grid-template-rows: 6;
}





body {
    
    padding: 0;
    margin: 0%;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    
}
.guessArea{
    position: relative;
    width: 350px;
    height: 420px;
    background-color:#00AAFF;
    border: 0.5em,  #202121;
    border-spacing:5px;
    margin: auto;
}
.guess{
    width: 20px;
    height: 20px;
    display:table-row;
    align-content: center;
    align-items: center;
}
.row{
    width: 20px;
    height: 20px;
    background-color: #000;
    margin-top: 5px;
    margin-left: 5px;
    flex: left;
}
   


/*eighty-eight, twenty-four, sixty-nine*/
/*0,0,0*/
/*199, 0, 57*/
